FinalBackend/WebContent/wsdl/Information.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="productinformation">
    <complexType>
     <sequence>
      <element name="receiptID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="productinformationResponse">
    <complexType>
     <sequence>
      <element name="productinformationReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="productinformationResponse">

      <wsdl:part element="impl:productinformationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="productinformationRequest">

      <wsdl:part element="impl:productinformation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Information">

      <wsdl:operation name="productinformation">

         <wsdl:input message="impl:productinformationRequest" name="productinformationRequest">

       </wsdl:input>

         <wsdl:output message="impl:productinformationResponse" name="productinformationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InformationSoapBinding" type="impl:Information">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="productinformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="productinformationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="productinformationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InformationService">

      <wsdl:port binding="impl:InformationSoapBinding" name="Information">

         <wsdlsoap:address location="http://localhost:8080/Tutorial/services/Information"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
